/*
Colours used::
Primary Colour (Teal): #1AA1C7 or RGB (26, 161, 199) or RGBa (26, 161, 199, 0.8) if 80% opacity;
Secondary Colour (Dark Mauve): #AF55D8 or RGB (175, 85, 216); better accessibility mauve #AA4AD6
Charcoal (Main Text/P): #595959;
Light Grey (Accent Heading/Body Colour): #757575;
Dark Teal (Visited Hyperlinks): #15809E;
Darker Mauve (Active Hyperlinks): #9F33D1;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(26, 161, 199, 0.27);
  display: flex;
  padding: 0 30px;
  height: 70px;
  justify-content: space-between;
  width: 100%;
}

body {
  background-color: white;
  font-family: 'Roboto Flex', sans-serif; /* use Roboto Flex if available, otherwise use a sans serif font */
  font-size: 18px; /* sets the font size to 16px */
  font-weight: 300; /* sets font weight to 300 */
  line-height: 1.6; /* sets the line height to 1.6 * the font size */
  color: #595959;
}

main {
  padding-top: 23.7px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  padding-bottom: 0;
  padding-top: 0;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

h5 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h6 {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  text-align: center;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
}

img {
  width: 100%; /* sets the image width to 100%, so imgs scale properly */
}

h1#heading {
  color: black;
}

.logo {
  width: 90px;
  height: 50px;
  max-width: 150px;
  display: inline-block;
  text-align: center;
  align-items: center;
  padding-left: 15px;
}

.profile-pic {
  height: 300px;
  width: 100px;
  padding-top: 10px;
}

.bio {
  padding-bottom: 20px;
  padding-top: 30px;
}

.bio2 {
  padding-bottom: 20px;
  padding-top: 30px;
}


.skills {
  line-height: 2;
}

/* links */
a {
  color: #595959;
  text-decoration: none; /* No underlining */
  transition: all 0.4s ease-in-out;
}

a:visited { /* visited link */
  color: #1aa1c7;
}

a:hover,
a:focus {
  color: #aa4ad6;
}

a:active { /* selected link */
  color: #9f33d1;
}

/* buttons */

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: transparent;
  color: #595959; /* needed to override the default link color */
  text-transform: uppercase;
  border: 2px solid #595959;
  font-weight: 400;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 30px;
  border-bottom: 2px solid #595959; /* width of the border, type, color */
  opacity: 0.9;
  transition: all 0.3s ease opacity;
}

.button:hover {
  background-color: #aa4ad6;
  color: #fff;
}

.button:active {
  color: #9f33d1;
}

.button:visited {
  color: black;
}

.button.contact {
  background-color: transparent;
  color: #595959;
  text-transform: uppercase;
  border: 2px solid #595959;
  transition: all 0.3s ease-in-out;
}

.button.contact:hover {
  background-color: #aa4ad6;
  color: #fff;
}

.button.contact:active {
  color: #9f33d1;
}

/* Layout styling */

.container {
  padding: 10px 15px;
  width: 100%;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px;
  color: #595959;
}

#work {
  padding-bottom: 20px;
}

#thumbnail {
  padding-bottom: 35px;
}

#hero h1 {
  text-align: center; /* Centers text */
}

#hero p {
  text-align: center;
}

#list {
 padding-left: 15px; 
 padding-top: 10px;
}

#list2 {
  padding-left: 15px; 
  padding-top: 10px;
}

#list3 {
  padding-left: 15px; 
  padding-top: 10px;
}

#list4 {
  padding-left: 15px; 
  padding-top: 10px;
}

#list5 {
  padding-left: 15px; 
  padding-top: 10px;
}

.center {
  text-align: center;
}

#header header {
  text-align: center;
  padding: 10px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

nav > ul > li > a:visited {
  color: #1aa1c7;
}

nav > ul > li > a:hover,
a:focus {
  color: #aa4ad6;
}

nav > ul > li > a:active {
  color: #9f33d1;
}

.nav {
  display: flex;
  column-gap: 40px;
  transition: all 0.3s ease-in-out;
}

nav > ul > li > a {
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #4a4a4a;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  width: 100%;
}

.navtoggle {
  min-height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-link {
  transition: all 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: #aa4ad6;
}

.nav-link :visited {
  color: #1aa1c7;
}

.nav-link :active {
  color: #9f33d1;
}

.hamburger i{
  color: rgba(0, 0, 0, 0.2)
  font-size 25px;
  line-height: 70px;
  margin-left: 50px;
  display: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#hero {
  background-color: rgb(222, 193, 236, 0.36);
  margin: 10px 0;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

.background-image {
  background-image: url(../img/farm-to-table/tractor-in-field@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.css-box-shadow {
  /* start ------------ */ /* width: [object object]px; height: [object object]px; */
  background: #f8f8f8;
  border: solid #bdbdbd 1px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.GitHub code {
  text-align: center;
}


/* Contact form styling */ 

/* Style inputs with type="text", select elements and text areas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 0.5px solid #ccc; /* Gray border */
  border-radius: 6px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #595959;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a mauve color */
input[type=submit]:hover {
  background-color: #aa4ad6; 
  transition: all 0.3s ease-in-out;
}

/* Add a background color and some padding around the form */
.container2 {
  border-radius: 7px;
  background-color: rgb(222, 193, 236, 0.36);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* vh stands for viewport height */
}

.link {
  text-align: center;
  align-items: center;
}

form {
  width: 70%; /* adjust this value to control the form's width */
}


/* media queries */

@media only screen and (max-width: 640px) {
  header {
    text-align: unset;
    padding: 15px 0 13px;
  }

  .hamburger i{
    display: block;
    padding-bottom: 38px;
    align-items: center;
  }

  .nav {
    position: fixed;
    left: 0;
    top: 70px;
    gap: 0;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px, 0, 25px;
    background-color: white;
    width: 100%;
    text-align: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }

  .hamburger li {
    position: fixed;
    left: 0;
    top: 70px;
    gap: 0;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }

  .nav-item {
    flex-direction: column;
    margin: 1em 0;
  }

  .nav.active {
    left: 0;
    position: fixed;
    top: 70px;
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    align-items: center;
    transform: translate(0);
    transition: 0.3s ease-in-out;
  }

  .nav-link {
    font-size: 14px;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .logo {
    max-width: 250px;
    align-items: center;
    max-height: 50px;
    padding-bottom: 20px;
  }

  #thumbnail {
    padding-bottom: 0;
    padding-top: 10px;
  }
  
  #thumbnail2 {
    padding-bottom: 0;
    padding-top: 10px;
  } 

  #thumbnail3 {
    padding-bottom: 0;
    padding-top: 15px;
  } 

  #thumbnail4 {
    padding-bottom: 0;
    padding-top: 15px;
  } 

  #thumbnail5 {
    padding-bottom: 0;
    padding-top: 15px;
  } 

  #thumbnail6 {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

[class*="col-"] {
  float: left;
  padding: 0 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

#animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from { transform: translate(0, 50px); }
  to { transform: translate(200px, 50px); }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px); }
  to { transform: translate(356px, 48px); }
}

.cloud-back {
  animation: 30s cloud-move-reverse infinite alternate linear;
}

@keyframes clouds-move {
  from { transform: translate(10px, 18px); }
  to { transform: translate(30px, 18px); }
}

.clouds {
  animation: 30s clouds-move infinite alternate linear;
}
